body {
  background-color: #24282F;
  color: #FFFFFF !important;
}

.App {

  padding: 4.5rem 0px;
  background: rgb(36, 40, 47);
}

.wrapper {
  display: flex;
  justify-content: space-evenly;  
  padding: 50px 0px;
  background: rgb(36, 40, 47);
  min-height: 100vh;
  flex-wrap: wrap;
}

p{
  margin-bottom: 5px !important;
}
h2
{
  margin: 0;
}

@media screen and (max-width:600px) {
  h2{
    font-size: 18px !important;
  }
  p{
    font-size: 14px !important;
  }
}


.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #24282F;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search-content{
  display: flex;
  justify-content: center;
}
.search-box{
  display: flex;
  background-color: #C4C4C4;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.search-box > input {
  border: none;
  background-color: #C4C4C4;
  width: 80%;
}
.search-box > input:focus {
  outline: none;

}
.fa-icon{
  margin-right: 10px;
  color: #24282F;
}


.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: relative;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: transparent;
	z-index:1;
	right: -5px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 1px;
	border-radius: 50%;
	text-align: center;
	color: black;
  border: 1px solid black;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
  z-index: 1;
}

.error{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
